<div class="container">
  <h2>List of Students</h2>

  <!-- Tabla que lista a los estudiantes -->
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Job</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.id }}</td>
        <td>
          <input type="jobTitle" [(ngModel)]="student.jobTitle" [readonly]="!isEditMode(student)" />
        </td>
        <td>
          <input type="firstName" [(ngModel)]="student.firstName" [readonly]="!isEditMode(student)" />
        </td>
        <td>
          <input type="lastName" [(ngModel)]="student.lastName" [readonly]="!isEditMode(student)" />
        </td>
        <td>
          <input type="emailAdress" [(ngModel)]="student.emailAdress" [readonly]="!isEditMode(student)" />
        </td>
        <td>
          <button *ngIf="!isEditMode(student)" (click)="enableEditMode(student)">EDIT</button>
          <button *ngIf="isEditMode(student)" (click)="saveStudent(student)">SAVE</button>
          <button (click)="deleteStudent(student.id)">DELETE</button>
        </td>
      </tr>

      <!-- Fila para agregar un nuevo estudiante -->
      <tr *ngIf="isAddMode">
        <td>NEW</td>
        <td><input type="jobTitle" [(ngModel)]="selectedStudent.jobTitle" /></td>
        <td><input type="firstName" [(ngModel)]="selectedStudent.firstName" /></td>
        <td><input type="lastName" [(ngModel)]="selectedStudent.lastName" /></td>
        <td><input type="emailAdress" [(ngModel)]="selectedStudent.emailAdress" /></td>
        <td>
          <button (click)="saveStudent()">ADD</button>
          <button (click)="cancel()">CANCEL</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Botón para añadir un nuevo estudiante -->
  <button (click)="addNewStudent()" *ngIf="!isAddMode">ADD STUDENT</button>
</div>



