<div class="container mt-4">
  
  <h2 class="title-shadow mb-4">Student List</h2>

  <!-- Tabla que lista a los estudiantes -->
  <table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Job</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Option</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.id }}</td>
        <td>
          <input type="text" class="form-control p-1" [(ngModel)]="student.jobTitle" [readonly]="!isEditMode(student)" />
        </td>
        <td>
          <input type="text" class="form-control p-1" [(ngModel)]="student.firstName" [readonly]="!isEditMode(student)" />
        </td>
        <td>
          <input type="text" class="form-control p-1" [(ngModel)]="student.lastName" [readonly]="!isEditMode(student)" />
        </td>
        <td>
          <input type="email" class="form-control p-1" [(ngModel)]="student.emailAdress" [readonly]="!isEditMode(student)" />
        </td>
        <td>
          <button *ngIf="!isEditMode(student)" class="btn btn-warning btn-sm" (click)="enableEditMode(student)">EDIT</button>
          <button *ngIf="isEditMode(student)" class="btn btn-success btn-sm" (click)="saveStudent(student)">SAVE</button>
          <button class="btn btn-danger btn-sm" (click)="deleteStudent(student.id)">DELETE</button>
        </td>
      </tr>

      <!-- Fila para agregar un nuevo estudiante -->
      <tr *ngIf="isAddMode">
        <td>New</td>
        <td><input type="text" class="form-control p-1" [(ngModel)]="selectedStudent.jobTitle" /></td>
        <td><input type="text" class="form-control p-1" [(ngModel)]="selectedStudent.firstName" /></td>
        <td><input type="text" class="form-control p-1" [(ngModel)]="selectedStudent.lastName" /></td>
        <td><input type="email" class="form-control p-1" [(ngModel)]="selectedStudent.emailAdress" /></td>
        <td>
          <button class="btn btn-primary btn-sm" (click)="saveStudent()">ADD</button>
          <button class="btn btn-secondary btn-sm" (click)="cancel()">CANCEL</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-center mt-3 mb-4">
    <button (click)="addNewStudent()" *ngIf="!isAddMode" class="btn btn-primary">ADD STUDENTS</button>
</div>
</div>





